@page "/"
@using MediPal.Components
@using MediPal.Models
@using Microsoft.AspNetCore.Authorization @*Add authorization to this page*@
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@* @rendermode InteractiveAuto *@
@inject ISymptomService SymptomService

@attribute [Authorize(Roles = "Patient, Doctor")]

<AuthorizeView>
<PageTitle>Dashboard</PageTitle>

<div class="container-fluid">

    @* start row 1 *@
    <div class="row">

        @*Patient Information*@
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: center;">
                    @* need to detach this into a separate component and link to it here *@
                    <h5 class="card-title">Patient Information</h5>
                    <p class="card-text">Name: Jane Doe</p>
                    <p class="card-text">Date of Birth: 31.12.1994</p>
                    <p class="card-text">Medical Diagnosis: Leukemia</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        @*Treatment Timeline*@
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style=" text-align: center;">
                    @* need to detach this into a separate component and link to it here *@
                    <h5 class="card-title">Treatment Timeline</h5>
                    <p class="card-text">Insert timeline here.</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        @*My Profile*@
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style=" text-align: center;">
                    @* need to detach this into a separate component and link to it here *@
                    <h5 class="card-title">My Profile</h5>
                    <p class="card-text">Jane Doe</p>
                    <a href="#" class="btn btn-primary">Settings</a>
                </div>
            </div>
        </div>
    </div>

<br />
<br />

    @* start row 2 *@
    <div class="row">

        @*Symptom Tracker*@
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style=" text-align: center;">
                    <h5>Symptom Tracker</h5>
                    <table class="table table-striped">

                        @if (symptoms == null)
                        {
                            <span>Symptom list not found.</span>
                        }

                        @if (symptoms.Count == 0)
                        {
                            <div>
                                <span>Loading symptoms...</span>
                            </div>
                        }
                        else
                        {
                            <thead>
                                <tr>
                                    <th>Symptom Name</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                        }
                        <tbody>
                            @foreach (var symptom in symptoms)
                            {
                                <tr>
                                    <td>@symptom.SymptomName</td>
                                    <td>@symptom.Date</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @*Week Outlook*@
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style=" text-align: left;">
                    @* need to detach this into a separate component and link to it here *@
                    <h5 class="card-title" style="text-align: center;">Week Outlook</h5>
                    <div style="padding: 3% 10%;">
                        <p class="card-text">Monday: Chemotherapy</p>
                        <p class="card-text">Tuesday: Recovery</p>
                        <p class="card-text">Wednesday: Recovery</p>
                        <p class="card-text">Thursday: Recovery</p>
                        <p class="card-text">Friday: Bone marrow puncture & release</p>
                        <p class="card-text">Saturday: Break</p>
                        <p class="card-text">Sunday: Break</p>
                        <div style="text-align: center;">
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Your Medical Team*@
        <div class="col-lg-4">
            <div class="card border">
                <div class="card-body" style="text-align: left;">
                    @* need to detach this into a separate component and link to it here *@
                    <h5 class="card-title" style="text-align: center">Your Medical Team</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in doctors)
                            {
                                <tr>
                                    <td>@doctor.Title</td>
                                    <td>@doctor.FirstName</td>
                                    <td>@doctor.LastName</td>
                                    <td>@doctor.Role</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                    <div style="text-align: center;">
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</AuthorizeView>


@code {
    List<Symptom> symptoms = new List<Symptom>();
    List<Doctor> doctors = new List<Doctor>();

    protected override async Task OnInitializedAsync()
    {
        // get all symptoms from database, using symptomservice interface
        symptoms = await SymptomService.GetAllSymptomsAsync();

        // Need to add doctors in OnInitializedAsync to have them load on program load, this is not connected to the database, need to add later
        doctors.Add(new Doctor("Kathy", "Awesome", DateOnly.Parse("October 21, 1985"), "M.D.", "Chief Medical Officer"));
        doctors.Add(new Doctor("Richard", "Cool", DateOnly.Parse("May 4, 1989"), "M.D.", "Lead Doctor"));
        doctors.Add(new Doctor("Arnie", "Neat", DateOnly.Parse("October 21, 1993"), "M.D.", "Assistant Doctor"));
    }

}
