@page "/symptomlists/details"

@using Microsoft.EntityFrameworkCore
@using MediPal.Models
@* @inject IDbContextFactory<MediPal.Data.MediPalContext> DbFactory
@inject NavigationManager NavigationManager *@

<PageTitle>Details</PageTitle>

@* <h1>Details</h1> *@

<div>
    <h4>SymptomList</h4>
    <hr />
    @if (Symptom is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
            <dt class="col-sm-2">Symptom</dt>
            <dd class="col-sm-10">@Symptom.SymptomName</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@Symptom.Date</dd>
            <dt class="col-sm-2">Pain Level</dt>
            <dd class="col-sm-10">@Symptom.PainLevel</dd>
            <dt class="col-sm-2">Activity</dt>
            <dd class="col-sm-10">@Symptom.Activity</dd>
        </dl>
        <div>
            <a href="@($"/Symptoms/edit?symptomid={Symptom.SymptomID}")">Edit</a> |
            <a href="@($"/Symptoms")">Back to List</a>
        </div>
    }
</div>

@code {
    Symptom? Symptom;

    [SupplyParameterFromQuery]
    public int? SymptomID { get; set; }

    // protected override async Task OnInitializedAsync()
    // {
    //     using var context = DbFactory.CreateDbContext();
    //     symptomlist = await context.SymptomList.FirstOrDefaultAsync(m => m.SymptomID == SymptomID);

    //     if (symptomlist is null)
    //     {
    //         NavigationManager.NavigateTo("notfound");
    //     }
    // }
}
