@page "/"
@using MediPal.Components
@inject ISymptomService SymptomService
@attribute [StreamRendering]

<MudPaper Width="100%">
    @*     <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Large"> *@

    <MudGrid>

        @*Patient Information*@
        <MudItem xs="12" sm="6" md="3">

            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">

                <MudCard object-contain="contain">

                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Patient Information</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>

                    <MudCardContent>
                        <MudText>Name: Jane Doe</MudText>
                        <MudText>DOB: 31.12.1994</MudText>
                        <MudText>Medical Diagnosis: Leukemia</MudText>
                    </MudCardContent>

                </MudCard>

            </MudPaper>

        </MudItem>

        @*Treatment Timeline*@
        <MudItem xs="12" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">

                <MudCard>

                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Treatment Timeline</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>

                    <MudCardContent>
                        <MudText>Insert timeline here</MudText>
                    </MudCardContent>

                </MudCard>

            </MudPaper>
        </MudItem>

        @*My Profile*@
        <MudItem xs="12" sm="12" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">
                <MudAvatar Size="Size.Large" Color="Color.Primary">M</MudAvatar>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                </CardHeaderActions>
                <MudText>My Profile</MudText>
            </MudPaper>
        </MudItem>

        @* Force line break for grid items *@
        <MudFlexBreak />

        @*Symptom Tracker*@
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">

                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Symptom Tracker</MudText>

                        @* <SymptomTracker /> *@


                        @if (symptoms == null)
                        {
                            <span>Loading...</span>
                        }

                        else if (symptoms.Count == 0)
                        {
                            <span>No symptoms found.</span>
                        }

                        else
                        {
                            <MudDataGrid T="Symptom" Items="@symptoms" EditMode="DataGridEditMode.Form" Bordered="true" Dense="true" EditTrigger="@DataGridEditTrigger.Manual">

                                <Columns>
                                    <PropertyColumn Property="Symptom => Symptom.SymptomName" />
                                    <PropertyColumn Property="Symptom => Symptom.Date" />

                                    <TemplateColumn CellClass="d-flex justify-end">
                                        <CellTemplate>
                                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" />
                                        </CellTemplate>
                                    </TemplateColumn>
                                </Columns>

                            </MudDataGrid>
                        }
                    </CardHeaderContent>
                </MudCardHeader>
            </MudPaper>
        </MudItem>

        @*Week Outlook*@
        <MudItem xs="12" sm="6" md="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">

                <MudCard>

                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Week Outlook</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>

                    <MudCardContent>
                        <MudText>Monday: Chemo</MudText>
                        <MudText>Tuesday: Recovery</MudText>
                        <MudText>Wednesday: Recovery</MudText>
                        <MudText>Thursday: Recovery</MudText>
                        <MudText>Friday: Bone marrow puncture & release!</MudText>
                        <MudText>Saturday: Break</MudText>
                        <MudText>Sunday: Break</MudText>
                    </MudCardContent>

                </MudCard>

            </MudPaper>
        </MudItem>

        @*Your Medical Team*@
        <MudItem xs="12" sm="12" md="3">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">

                <MudText>Your Medical Team</MudText>

                <MudList T="string">
                    <MudListItem>
                        <AvatarContent>
                            <MudAvatar>
                                <MudAvatar Color="Color.Tertiary">A</MudAvatar>
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Dr. Awesome
                        </ChildContent>
                    </MudListItem>

                    <MudListItem>
                        <AvatarContent>
                            <MudAvatar>
                                <MudAvatar Color="Color.Tertiary">C</MudAvatar>
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Dr. Cool
                        </ChildContent>
                    </MudListItem>

                    <MudListItem>
                        <AvatarContent>
                            <MudAvatar Color="Color.Tertiary">AC</MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Dr. Also Cool
                        </ChildContent>
                    </MudListItem>

                    <MudListItem>
                        <AvatarContent>
                            <MudAvatar Color="Color.Tertiary">C</MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Dr. Chatty
                        </ChildContent>
                    </MudListItem>

                    <MudListItem>
                        <AvatarContent>
                            <MudAvatar Color="Color.Tertiary">E</MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Dr. Empathy
                        </ChildContent>
                    </MudListItem>

                </MudList>

            </MudPaper>
        </MudItem>

    </MudGrid>

    @* </MudContainer> *@

</MudPaper>

@code {

    List<Symptom> symptoms = null;

    protected override async Task OnInitializedAsync()
    {
        symptoms = await SymptomService.GetAllSymptoms();
    }

    int _papers = 7;
    int papers { get { return _papers; } set { UpdatePapers(value); } }

    int[] breaks = new int[7] { 3, 4, 2, 3, 3, 2, 4 };

    Justify justification = Justify.FlexStart;

    void UpdatePapers(int value)
    {

        int[] newbreaks = Enumerable.Repeat(3, value).ToArray();

        for (int i = 0; i < newbreaks.Length; i++)
        {
            if (i < breaks.Length)
            {
                newbreaks[i] = breaks[i];
            }
        }

        breaks = newbreaks;

        _papers = value;

        StateHasChanged();
    }

    void UpdateBreaks(int index, int changeamount)
    {
        List<int> newbreaks = breaks.ToList();
        if (newbreaks[index] + changeamount > 12 || newbreaks[index] + changeamount < 1) return; //don't go above 12 or below 1
        newbreaks[index] += changeamount;

        breaks = newbreaks.ToArray();

        StateHasChanged();
    }

}

@* Uncomment below for original Blazor Dashboard *@

@*
<div class="container-fluid">

    @* start row 1 *@
@* <div class="row" style="height: 45vh;">
    <div class="col-md-4">
        <div class="card border">
            <div class="card-body" style="text-align: center;"> *@
                @* need to detach this into a separate component and link to it here *@
@*                 <h5 class="card-title">Patient Information</h5>
                <p class="card-text">Name: Jane Doe</p>
                <p class="card-text">Date of Birth: 31.12.1994</p>
                <p class="card-text">Medical Diagnosis: Leukemia</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border">
            <div class="card-body" style=" text-align: center;"> *@
                @* need to detach this into a separate component and link to it here *@
@*                 <h5 class="card-title">Treatment Timeline</h5>
                <p class="card-text">Insert timeline here.</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border">
            <div class="card-body" style=" text-align: center;"> *@
                @* need to detach this into a separate component and link to it here *@
   @*              <h5 class="card-title">My Profile</h5>
                <p class="card-text">Insert profile picture and link to profile here.</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
</div> *@

    @* start row 2 *@
@* <div class="row" style="height: 10vh;"> *@

    @* start row 3 *@
@*     <div class="row" style="height: 45vh;">
        <div class="col-md-4">
            <SymptomTracker />
        </div>
        <div class="col-md-4">
            <div class="card border">
                <div class="card-body" style=" text-align: center;">
                    @* need to detach this into a separate component and link to it here *@
@*                     <h5 class="card-title">Week Outlook</h5>
                    <p class="card-text">Insert calendar of events for the week here.</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border">
                <div class="card-body" style=" text-align: center;"> *@
                    @* need to detach this into a separate component and link to it here *@
@*                     <h5 class="card-title">Your Medical Team</h5>
                    <p class="card-text">Insert list of medical people here.</p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div> *@

