@page "/symptomlist"
@inject ISymptomService SymptomService
@attribute [StreamRendering]

<h3>Symptom List</h3>

@if (symptoms == null)
{
    <span>Loading...</span>
}

else if (symptoms.Count == 0)
{
    <span>No symptoms found.</span>
    <@AddSymptomButton />

}


else
{
    <ul>
        @foreach (var symptom in symptoms)
        {
            <li>@symptom.SymptomID</li>
            <li>@symptom.SymptomName</li>
            <li>@symptom.Date</li>
            <li>@symptom.PainLevel</li>
            <li>@symptom.Activity</li>
        }
    </ul>
} 



@code {
    List<Symptom> symptoms = null;

    private bool _editable;

    protected override async Task OnInitializedAsync()
    {
        symptoms = await SymptomService.GetAllSymptoms();
    }
}
